<!-- 
// Copyright © 2020-2021 https://www.edgexfoundry.club. All Rights Reserved.
// SPDX-License-Identifier: GPL-2.0 
-->

{{define "head"}}
<title>EdgeXFoundry中国社区</title>
<link rel="shortcut icon" type="image/x-icon" href="/public/img/bg_img.png" style="width:62px;height:62px;" />
<link href="/public/vendors/markdown/editor/css/editormd.min.css" rel="stylesheet">
<link href="/public/vendors/markdown/editor/css/editormd.preview.min.css" rel="stylesheet">
<style media="screen">
    span.badge.pull-right:hover {
        cursor: pointer;
    }
    
    .reply_context {
        margin-bottom: 5px;
        height: 40px !important;
        display: block;
        width: 100%;
        padding: 7px 8px;
        background: #fff;
        border-radius: 4px;
        resize: none;
        font-size: 14px;
        line-height: 22px;
        outline: none;
    }
</style>
</head>

{{end}} {{define "body"}}

<div class="user_article_main">
    <div class="container" style="margin-top: 10px;">
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">

                <div class="card">
                    <div class="card-header">作者信息</div>
                    <div class="card-body">
                        <div class="media">
                            <a href="/user/{{.Article.UserName}}">
                                <img src="{{.Article.AvatarUrl}}" class="mr-3 rounded-circle" style="width:45px;height:45px; " alt="">
                            </a>
                            <div class="media-body">
                                <h5 class="card-title">{{.Article.UserName}}</h5>
                                <p class="card-text">文章&nbsp;&nbsp;{{.UserArticlesSum}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9 col-md-9 col-lg-9">
                <div class="card">
                    <div class="card-header">{{.Article.Title}}</div>
                    <div class="card-body">
                        <div class="article_info" style="border-bottom:1px solid #e36209;padding:5px 0;margin-bottom:15px;color:gray;">
                            <span id="articleModified">最后更新于：{{.Article.Modified | fdate}}</span>
                            <span id="readCount" style="float:right;">阅读数：{{.Article.ReadCount}}</span>
                        </div>
                        <div id="markdown_data_view" style="padding:0;">
                            <textarea style="display:none;" name="test-editormd-markdown-doc"></textarea>      
                        </div>
                    </div>
                </div>

                <div class="card" style="margin-top:10px;">
                    <textarea class="form-control" id="comment_context" rows="3" style="outline:none;" placeholder="请输入..."></textarea>
                    <button type="button" class="btn btn-info btn-sm pull-right" onclick="postComment(event)">发表评论</button>
                </div>

                <div class="card" style="margin-top:10px;">
                    <div class="card-header">全部评论</div>

                    <div class="list-group list-group-flush all-comment-main">
                        {{range $key,$comment := .Comments}}
                        <!-- comment -->
                        <div class="list-group-item list-group-item-action">
                            <div class="media">
                                <a href="/user/{{$comment.UserName}}"><img src="{{$comment.UserAvatarUrl}}" class="mr-3 rounded-circle" style="width:45px;height:45px; " alt="..."></a>
                                <div class="media-body">
                                    <p class="mt-0 mb-1">{{$comment.Content}}</p>
                                    <span class="badge badge-secondary">{{$comment.Created | fdate}}</span>
                                    <span class="badge badge-secondary pull-right" onclick="showReply({{$comment.Id.Hex}})">回复</span>
                                </div>
                            </div>
                            <div id="{{$comment.Id.Hex}}" style="display: none;margin-top:5px;" class="list-group-item list-group-item-action list-group-item-secondary">
                                <textarea class="reply_context" style="outline:none;" placeholder="回复@：{{$comment.UserName}}"></textarea>
                                <p class="badge badge-secondary pull-right" onclick="reply({{$comment.Id.Hex}},{{$comment.UserName}},{{$comment.Id.Hex}})">提交回复</p>
                            </div>
                            <!-- reply -->
                            <div class="list-group list-group-flush" id="{{$comment.Id.Hex}}-reply-list">
                                {{range $cId,$replys := $.ReplysMap}} {{if eq $cId $comment.Id.Hex}} {{range $idex,$r := $replys}}
                                <div class="list-group-item list-group-item-action list-group-item-secondary">
                                    <div class="media">
                                        <div class="media-body">
                                            <p class="mt-0">
                                                <a href="/user/{{$r.FromUserName}}">{{$r.FromUserName}}</a>：回复 <a href="/user/{{$r.ToUserName}}">@{{$r.ToUserName}}：</a> {{$r.Content}}
                                            </p>
                                            <span class="badge badge-secondary">{{$r.Created | fdate}}</span>
                                            <span class="badge badge-secondary pull-right" onclick="showReply({{$r.Id.Hex}})">回复</span>
                                        </div>
                                    </div>
                                    <div id="{{$r.Id.Hex}}" style="display: none;margin-top:5px;">
                                        <textarea class="reply_context" style="outline:none;" placeholder="回复@：{{$r.FromUserName}}"></textarea>
                                        <span class="badge badge-secondary pull-right" onclick="reply({{$comment.Id.Hex}},{{$r.FromUserName}},{{$r.Id.Hex}})">提交回复</span>
                                    </div>
                                </div>
                                {{end}} {{end}} {{end}}
                            </div>
                        </div>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myAlertModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary  btn-sm btn-block" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/public/vendors/markdown/editor/lib/marked.min.js"></script>
    <script src="/public/vendors/markdown/editor/lib/prettify.min.js"></script>
    <script src="/public/vendors/markdown/editor/lib/raphael.min.js"></script>
    <script src="/public/vendors/markdown/editor/lib/underscore.min.js"></script>
    <script src="/public/vendors/markdown/editor/lib/sequence-diagram.min.js"></script>
    <script src="/public/vendors/markdown/editor/lib/flowchart.min.js"></script>
    <script src="/public/vendors/markdown/editor/lib/jquery.flowchart.min.js"></script>
    <script type="text/javascript" src="/public/vendors/markdown/editor/editormd.min.js"></script>
    <script type="text/javascript">

        function postComment(event) {
            var comment_context_val = $("#comment_context").val().trim();
            if (comment_context_val.length == 0) {
                $('#myAlertModal div.modal-body').empty();
                $('#myAlertModal div.modal-body').append("评论内容不能为空 ！");
                $('#myAlertModal').modal('show');
                return;
            }
            var target = $(event.currentTarget)
            target.prop("disabled", true);
            $.ajax({
                url: "/api/v1/auth/comment/{{.Article.Id.Hex}}",
                type: "POST",
                data: JSON.stringify({
                    "content": comment_context_val
                }),
                success: function(data) {
                    $('#myAlertModal div.modal-body').empty();
                    $('#myAlertModal div.modal-body').append("评论成功！");
                    $('#myAlertModal').modal('show');
                    $("#comment_context").val("");
                    $(".all-comment-main").prepend(data)
                    target.prop("disabled", false);
                },
                statusCode: {
                    3001: function() {
                        $('#myAlertModal div.modal-body').empty();
                        $('#myAlertModal div.modal-body').append("  请文明发言！");
                        $('#myAlertModal').modal('show');
                        target.prop("disabled", false);
                    },
                     308: function() {
                        window.location.href = '/login.html?ran=' + Math.random();
                    }
                }
            });
        }


        function reply(commentId, toUser, itemId) {
            var reply_context_val = $("#" + itemId).children("textarea").val().trim()
            if (reply_context_val.length == 0) {
                $('#myAlertModal div.modal-body').empty();
                $('#myAlertModal div.modal-body').append("回复内容不能为空 ！");
                $('#myAlertModal').modal('show');
                return;
            }
            var target = $(this.event.currentTarget)
            target.css("pointer-events", "none");
            $.ajax({
                url: "/api/v1/auth/reply/" + commentId + "/" + toUser,
                type: "POST",
                data: JSON.stringify({
                    "content": reply_context_val
                }),
                success: function(data) {
                    $('#myAlertModal div.modal-body').empty();
                    $('#myAlertModal div.modal-body').append("回复成功！");
                    $('#myAlertModal').modal('show');
                    hideReply(itemId)
                    $("#" + itemId).children("textarea").val("")
                    $("#" + commentId + "-reply-list").prepend(data)
                    target.css("pointer-events", "auto");
                },
                statusCode: {
                    3001: function() {
                        $('#myAlertModal div.modal-body').empty();
                        $('#myAlertModal div.modal-body').append("  请文明发言！");
                        $('#myAlertModal').modal('show');
                        target.css("pointer-events", "auto");
                    }, 
                    308: function() {
                        window.location.href = '/login.html?ran=' + Math.random();
                    }
                }
            });
        }

        function hideReply(itemId) {
            $("#" + itemId).hide();
        }

        function showReply(itemId) {
            $("#" + itemId).show();
        }

        $(document).ready(function() {
            $.ajaxSetup({
                cache: false, //prevent browser cache result to redirect  failed.
                statusCode: {
                    302: function() {
                        window.location.href = '/login.html?ran=' + Math.random(); //prevent browser cache result to redirect  failed.
                    },
                    401: function() {
                        window.location.href = '/login.html?ran=' + Math.random();
                    },
                    307: function() {
                        window.location.href = '/login.html?ran=' + Math.random();
                    },
                    308: function() {
                        window.location.href = '/error.html?ran=' + Math.random();
                    }

                }
            });
            editormd.markdownToHTML("markdown_data_view", {
                        markdown        : {{.Article.Content}} ,
                        htmlDecode      : "style,script,iframe", 
                        emoji           : true,
                        taskList        : true,
                        tex             : true,  
                        flowChart       : true,  
                        sequenceDiagram : true,  
                    });
        });
    </script>

    {{end}}