<!-- 
// Copyright © 2020-2021 https://www.edgexfoundry.club. All Rights Reserved.
// SPDX-License-Identifier: GPL-2.0 
-->

<!DOCTYPE html>
<html>

<head>
    <title>Error</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="/public/img/bg_x.png" style="width:62px;height:62px;" />
    <link rel="icon" href="data:;base64,=">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="card bg-light text-white text-center border-0 mb-3 col-sm-12 col-md-12 col-lg-12">
                <img src="/public/img/bg_img.png" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <div class="alert alert-warning" role="alert">
                        <h5 class="card-header">服务异常！点击<a href="/">重新加载</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>