<!-- 
// Copyright © 2020-2021 https://www.edgexfoundry.club. All Rights Reserved.
// SPDX-License-Identifier: GPL-2.0 
-->

{{define "header_nav"}}
<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">EdgeXFoundry中国社区</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="https://docs.edgexfoundry.org" target="_blank">官方文档</a>
            </li>
        </ul>

        <div class="my-2 my-lg-0 ">
            <a class="navbar-text text-light" href="/article/add "><i class="fa fa-edit fa-fw "></i>发帖</a> 
            {{if ne .CredsUser.Name ""}}
            <a class="header_user navbar-text" href="/user/{{.CredsUser.Name}}">
                <img src="{{.CredsUser.AvatarUrl}}" alt="" class="rounded-circle" style="width:22px;height:22px; ">
                <span class="badge badge-pill badge-danger"></span>
            </a>
            {{else}}
            <a class="header_login navbar-text text-light" href="/login.html"><span>登录</span></a> 
            {{end}}
        </div>
    </div>
</nav>
{{end}}