<!-- 
// Copyright © 2020-2021 https://www.edgexfoundry.club. All Rights Reserved.
// SPDX-License-Identifier: GPL-2.0 
-->

{{define "header_nav"}}
<div class="header">
    <div class="container">
        <div class="title" style="display:inline-block;">
            <a href="/"><i class="fa fa-home fa-fw"></i>EdgeX Foundry中国社区</a>
        </div>
        <div class="title-l" style="display:inline-block;position: relative;">
            <a href="http://docs.edgexfoundry.org" target="_blank">官方文档</a>
        </div>
        <div style="display:inline-block;" class="pull-right">
            <div class="header_post">
                <a><span><i class="fa fa-edit fa-fw"></i>发帖</span></a>
            </div>
            <div class="header_user" style="display:none; position:relative!important;">
                <div class="dropdown">
                    <img src="" alt="" style="width:22px;height:22px;margin:0;margin-left:5px;padding:0;border-radius:15%;border:1px solid rgb(148, 44, 73, 0.5);">
                    <span class="badge" style="display:none;position:relative;left:-10px;top:-10px;background-color:red!important;">99+</span>
                </div>
            </div>
            <div class="header_login" style="margin-left:5px;">
                <a><span>登录</span></a>
            </div>
        </div>
    </div>
</div>
{{end}}