<!-- 
// Copyright © 2020-2021 https://www.edgexfoundry.club. All Rights Reserved.
// SPDX-License-Identifier: GPL-2.0 
-->

{{define "head"}}
<title>EdgeXFoundry中国社区</title>
<link rel="shortcut icon" type="image/x-icon" href="/public/img/bg_x.png" style="width:62px;height:62px;" />
<style media="screen">

</style>

<style media="screen">
    /* myfooter start */
    
    .myfooter {
        width: 100%;
        margin-top: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        background: #343a40;
        text-align: center;
    }
    
    .copyright {
        width: 420px;
        margin: 0 auto;
        color: #ffffff;
    }
    
    .copyright img {
        width: 120px;
        height: 60px;
    }
    
    .copyright span {
        font-size: 14px;
    }
    
    .fixed-footer {
        position: fixed;
        bottom: 0;
    }
</style>
<script type="text/javascript" src="/public/js/util.js"></script>
{{end}} {{define "body"}}
<div class="center" id="index_main">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="card mb-3" style="margin-top: 10px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="/public/img/bg_img.png" class="card-img" alt="">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h2 class="card-title">欢迎访问EdgeX Foundry中国社区</h2>
                                <p class="card-text">国内首个EdgeX Foundry物联网框架的交流社区。EdgeX Foundry是由Dell发起的物联网解决方案，目前EdgeX Foundry属于Linux基金会的首个物联网框架。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-8">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-yelp fa-fw" style="color:#942c49;"></i>&nbsp;最新动态
                    </div>
                    <div class="list-group list-group-flush">
                        {{range $key,$article := .Articles}}
                        <div class="list-group-item list-group-item-action">
                            <div class="media">
                                <a href="/user/{{$article.UserName}}"><img src="{{$article.AvatarUrl}}" class="mr-3 rounded-circle" style="width:45px;height:45px; " alt="..."></a>
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1"><a class="text-dark" href="/user/{{$article.UserName}}/article/{{$article.Id.Hex}}" target="_blank">{{$article.Title}}</a></h5>
                                    <span class="badge badge-success">{{$article.Type}}</span>&nbsp;&nbsp;<span class="badge badge-secondary">{{$article.Created | fdate}}</span>
                                </div>
                            </div>
                        </div>
                        {{end}}
                    </div>
                </div>

            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-volume-up fa-fw" style="color:#942c49;"></i>&nbsp;网站公告
                    </div>
                    <div class="card-body">
                        <p class="card-text"> EdgeXFoundry中国社区，是国内首个EdgeXFoundry物联网框架的交流社区。EdgeXFoundry是由Dell发起的物联网解决方案，目前EdgeXFoundry属于Linux基金会的首个物联网框架。我们致力于为技术人员提供分享和交流的平台，推动EdgeXFoundry在国内的普及和应用。 欢迎CTO、架构师、开发者等，在这里学习与交流使用EdgeXFoundry的实战经验。</p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        热门文章
                    </div>
                    <div class="list-group list-group-flush">
                        {{range $key,$article := .HotArticles}}
                        <a class="list-group-item list-group-item-action" href="/user/{{$article.UserName}}/article/{{$article.Id}}" target="_blank">{{$article.Title}}</a> {{end}}
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        热门作者
                    </div>
                    <div class="card-body">
                        {{range $key,$user := .HotAuthors}}
                        <a href="/user/{{$user.Name}}" target="_blank">
                            <img class="rounded-circle" style="width:45px;height:45px; " src="{{$user.AvatarUrl}}" alt="">
                        </a>
                        {{end}}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- myfooter start -->
<footer class="myfooter">
    <div class="copyright">

        <span style="color:gray;">EdgeX Foundry中国社区&nbsp;&nbsp; <a href="http://www.miitbeian.gov.cn/"> © 2018-2019&nbsp; &nbsp; 京ICP备18056168号  </a></span>
        <span><a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=41162502150039" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="/public/img/ga.png" style="float:left;height:16px;width:16px;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">豫公网安备 41162502150039号</p></a></span>

    </div>
</footer>
<!-- myfooter end -->

<script type="text/javascript">
    //footer位置设置
    function footerPosition() {
        $("footer").removeClass("fixed-footer");
        var contentHeight = document.body.scrollHeight, //网页正文全文高度
            winHeight = window.innerHeight || document.body.clientHeight; //可视窗口高度，不包括浏览器顶部工具栏
        if (contentHeight <= winHeight) {
            //当网页正文高度小于等于可视窗口高度时，为footer添加类fixed-footer
            $("footer").addClass("fixed-footer");
            // $(".content").height(winHeight);
        } else {
            $("footer").removeClass("fixed-footer");
        }

    }
    $(document).ready(function() {
        footerPosition();
        $(window).resize(footerPosition);
    });
</script>
{{end}}