<!-- 
// Copyright © 2020-2021 https://www.edgexfoundry.club. All Rights Reserved.
// SPDX-License-Identifier: GPL-2.0 
-->

{{define "head"}}

<title>{{.UserInof.Name}}的主页</title>
<link rel="shortcut icon" type="image/x-icon" href="/public/img/bg_img.png" style="width:62px;height:62px;" />
<link href="/public/vendors/markdown/editor/css/editormd.min.css" rel="stylesheet">
<link href="/public/vendors/markdown/editor/css/editormd.preview.min.css" rel="stylesheet">

<style media="screen">

</style>

{{end}} {{define "body"}}

<div class="container" style="margin-top:10px;">
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="card">
                <div class="card-header">作者信息</div>
                <div class="card-body">
                    <div class="media">
                        <img src="{{.UserInof.AvatarUrl}}" class="mr-3 rounded-circle" style="width:45px;height:45px; " alt="">
                        <div class="media-body">
                            <h5 class="card-title">{{.UserInof.Name}}</h5>
                            <p class="card-text">文章&nbsp;&nbsp;{{.UserArticlesSum}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9 col-md-9 col-lg-9">
            {{ if .IsSelf }}
            <div class="card">
                <div class="card-header">
                    消息
                </div>
                <div class="list-group list-group-flush">
                    {{range $key,$msg := .Messages}}
                    <div  class="list-group-item list-group-item-action">
                            <a href="#" onclick="updateMsgAndSkip({{$msg.ArticleUserName}},{{$msg.ArticleId}},{{$msg.Id}})">{{$msg.Content}}</a>
                            <span class="pull-right">
                                {{if $msg.IsRead }}
                                <span class="badge badge-pill badge-secondary">已读</span> 
                                {{else}} 
                                <span class="badge badge-pill badge-danger">未读</span>
                                {{end}}
                                <span class="badge badge-pill badge-success">{{$msg.Created | fdate}}</span>
                            </span>
                            
                    </div> {{end}}
                </div>
            </div>
            {{ end }}
            <div class="card" style="margin-top: 10px;">
                <div class="card-header">文章</div>
                <div class="list-group list-group-flush">
                    {{range $key,$article := .Articles}}
                    <div class="list-group-item list-group-item-action">
                        <div class="media">
                            <a href="/user/{{$article.UserName}}"><img src="{{$article.AvatarUrl}}" class="mr-3 rounded-circle" style="width:45px;height:45px; " alt="..."></a>
                            <div class="media-body">
                                <h5 class="mt-0 mb-1"><a class="text-dark" href="/user/{{$article.UserName}}/article/{{$article.Id.Hex}}" target="_blank">{{$article.Title}}</a></h5>
                                <span class="badge badge-success">{{$article.Type}}</span>&nbsp;&nbsp;<span class="badge badge-secondary">{{$article.Created | fdate}}</span>
                                {{ if $.IsSelf }}
                                <span class="pull-right">
                                    {{if $article.Approved }}
                                    <span class="badge badge-pill badge-success">已审核</span> 
                                    {{else}}
                                    <span class="badge badge-pill badge-danger">审核中</span> 
                                    {{end}}
                                    <span class="badge badge-pill badge-info"><a class="text-light" href="/api/v1/auth/article/edit/{{$article.Id | bsonIdStr}}" target="_blank">编辑</a></span>
                                </span>
                                {{end}}
                            </div>
                        </div>
                    </div>
                    {{end}}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">提示</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" onclick="deleteArticle()" class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        function updateMsgAndSkip(articleUserName,articleId,msgId) {
            $.ajax({
                url: "/api/v1/auth/message/" + msgId,
                type: "PUT",
                success: function() {
                    window.location.href = "/user/"+articleUserName+"/article/"+articleId
                }
            });  
        }
    
    </script>

    {{end}}